<div id="heroBanner">
    <header></header>
    <nav>

    </nav>
    <h1 id="siteName">
        Arsen &amp; Shaun
    </h1>
    <div id="counter">
        &nbsp;
    </div>
    <div id="hashTagTop">
        #ArsenShaunWedding
    </div>
    <div id="rsvpButton">
        <a href="#">RSVP</a><a href="~/calendar.ics" target="_blank">Add to Calendar</a>
    </div>
</div>
<div>
    <div id="map">
        <h2>Where</h2>
        <div id="googleMap" style="height: 95vh;"></div>
    </div>
</div>
<div id="weddingParty">
    <h2>The Wedding Party</h2>
    <div>
        <h3>The Guys</h3>
        <div class="group">
            <div>
                <h4>Hugh</h4>
                <img src="~/images/wedding_party/hugh.jpg" />
            </div>
            <div>
                <h4>James</h4>
                <img src="~/images/wedding_party/james.jpg" />
            </div>
            <div>
                <h4>Craig</h4>
                <img src="~/images/wedding_party/craig.jpg" />
            </div>
        </div>
        <h3>The Ladies</h3>
        <div class="group">
            <div>
                <h4>Yasemin</h4>
                <img src="~/images/wedding_party/yasemin.jpg" />
            </div>
            <div>
                <h4>Pinar</h4>
                <img src="~/images/wedding_party/pinar.jpg" />
            </div>
            <div>
                <h4>Gülhan</h4>
                <img src="~/images/wedding_party/gulhan.jpg" />
            </div>
            <div>
                <h4>Emma</h4>
                <img src="~/images/wedding_party/emma.jpg" />
            </div>
        </div>
        <h3>The Pooch</h3>
        <div class="group">
            <div>
                <h4>Pippa</h4>
                <img src="~/images/wedding_party/pippa.jpg" />
            </div>
        </div>
    </div>
</div>
<div id="hashTag">
    <h2>#ArsenShaunWedding</h2>
    <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
    <ul class="juicer-feed" data-feed-id="arsen-shaun-2018"></ul>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var weddingDate = moment.tz("2018-07-01 15:00", "Europe/London");
            $("#heroBanner #counter").countdown(weddingDate.toDate(), {
                elapse: true
            }).on('update.countdown', function (event) {
                if (event.elapsed) {
                    var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                    $(this).html("Married! " + event.strftime(totalHours + ' hr %M min %S sec ago!'));
                }
                else {
                    $(this).html(event.strftime('%D days %H hr %M min %S sec'));
                }
            }).countdown('start');
        });

        function initMap() {
            var locations = [
                {
                    position: new window.google.maps.LatLng(51.475149, -0.912922),
                    markerUrl: "@Url.Content("~/images/map_markers/cake-min.png")",
                    info: '<h1>The Great House</h1>Starts at 15:00.<br/><a href="https://www.google.com/maps/dir/Current+Location/The+Great+House+at+Sonning,+Thames+Street,+Sonning,+Reading" target="_blank">How to get there</a>'
                }
            ];
            var locationReception = { lat: 51.475149, lng: -0.912922 };
            var map = new window.google.maps.Map(document.getElementById('googleMap'), {
                zoom: 14,
                center: locationReception
            });

            var bounds = new window.google.maps.LatLngBounds();

            locations.forEach(location => {
                var marker = new window.google.maps.Marker({
                    position: location.position,
                    icon: {
                        url: location.markerUrl,
                        scaledSize: new window.google.maps.Size(50, 50),
                        anchor: new window.google.maps.Point(25, 25)
                    },
                    map: map
                });
                bounds.extend(marker.position);
                var infoWindows = new window.google.maps.InfoWindow({
                    content: location.info
                });
                infoWindows.open(map, marker);
                marker.addListener('click', function () {
                    infoWindows.open(map, marker);
                });
            });

            map.fitBounds(bounds);
            var width = $(window).width();
            $(window).on('resize', function () {
                if ($(this).width() !== width) {
                    width = $(this).width();
                    initMap();
                }
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfhHqLShp8XL0-J4hHQ6wuZB3fdkLeSQ&callback=initMap"></script>

}