body {
    color: #444;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    background: url("../images/bg.png");
}

#transport {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) ), url('../images/transport.jpg');
    background-position: bottom center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    color: #ffffff;
    line-height: 1;
}

    #transport .transport-location {
        margin: 0 5vw;
    }

        #transport .transport-location p {
            font-size: 3vh;
        }

#accomodation {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) ), url('../images/bedroom.jpg');
    background-position: bottom center;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    color: #ffffff;
}

    #accomodation #blurb {
        padding-top: 3vh;
        line-height: 1;
        text-align: center;
        margin: 0 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    #accomodation a {
        color: #ffffff;
    }

    #accomodation .location {
        line-height: 1;
        text-align: center;
        margin: 0 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

        #accomodation .location p {
            font-size: 3vh;
        }

#heroBanner {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) ), url('../images/bannerHero2.jpg');
    background-position: bottom center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

    #heroBanner #date {
        font-size: 6vh;
    }

    #heroBanner #siteName {
        padding-top: 20vh;
        font-family: 'Alex Brush', cursive;
        font-size: 12vw;
        line-height: 0.8;
        margin: 0 0;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    #heroBanner #counter {
        font-family: 'Roboto Mono', monospace;
        font-size: 3vw;
        padding-top: 12vh;
    }

    #heroBanner #hashTagTop {
        font-family: 'Roboto Mono', monospace;
        font-size: 3vw;
        padding-top: 6vh;
    }

    #heroBanner #rsvpButton {
        margin: 0 auto;
        padding-top: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #heroBanner #rsvpButton button, #heroBanner #rsvpButton a {
            margin: 0 10px;
            cursor: pointer;
            background: #d1ffdd;
            padding: 15px 50px;
            border: none;
            text-transform: uppercase;
            display: inline-block;
            color: #000;
            border-radius: 20px;
            margin-top: 10px;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            text-decoration: none;
        }

            #heroBanner #rsvpButton a:hover {
                color: #333333;
            }

#weddingParty .group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: top;
}

#weddingParty H4 {
    margin: 2px;
}

#weddingParty img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#weddingParty .group > div {
    flex: 1 1 auto;
    padding: 5px;
    text-align: center;
    max-width: 34%;
}

#hashTag .juicer-feed h1 {
    display: none !important;
}

#hashTag .j-stack > li.feed-item.juicer.image-post:not(.instagram):not(.facebook) {
    display: none;
}

#map {
    height: 100vh;
}
#map #googleMap {
    height: 91vh
}

img {
    max-width: 100%;
}

h2 {
    text-align: center;
    color: #ffffff;
    background-color: #ffd1dc;
    margin: 0;
    padding: 25px;
    font-size: 26pt;
    font-family: 'Roboto Slab', serif;
    text-shadow: 3px 3px 0 black;
}

    h2 a {
        color: #ffffff;
        text-decoration: none;
    }

h3 {
    text-align: center;
    color: #ffffff;
    background-color: #d1ffdd;
    margin: 0;
    padding: 25px;
    font-size: 26pt;
    font-family: 'Roboto Slab', serif;
    text-shadow: 3px 3px 0 black;
}

    h3 a {
        color: #ffffff;
        text-decoration: none;
    }


.gm-style-iw {
    cursor: text;
}

    .gm-style-iw h1, .gm-style-iw h2 {
        padding: 0;
        margin: 0;
        text-align: left;
        background-color: transparent;
    }

    .gm-style-iw h1 {
        font-size: 16px;
        color: #ffb5c7;
    }
