<div id="heroBanner">
    <header></header>
    <nav>

    </nav>
    <h1 id="siteName">
        Arsen &amp; Shaun
    </h1>
    <div id="date">
        22nd September 2018
    </div>
    <div id="counter">
        &nbsp;
    </div>
    <div id="hashTagTop">
        #ArsenShaunWedding
    </div>
    <div id="rsvpButton">
        <a href="#">RSVP</a>
        <a href="~/calendar-turkey.ics" target="_blank">Add to Calendar</a>
        <a href="~/">English Wedding</a>
    </div>
</div>
<div id="map">
    <h2>Venue</h2>
    <div id="googleMap" style="height: 95vh;"></div>
</div>

<div id="weddingParty">
    <h2>The Wedding Party</h2>
    <div>
        <h3>The Guys</h3>
        <div class="group">
            <div>
                <h4>Hugh</h4>
                <img src="~/images/wedding_party/hugh.jpg" />
            </div>
            <div>
                <h4>James</h4>
                <img src="~/images/wedding_party/james.jpg" />
            </div>
            <div>
                <h4>Craig</h4>
                <img src="~/images/wedding_party/craig.jpg" />
            </div>
        </div>
        <h3>The Ladies</h3>
        <div class="group">
            <div>
                <h4>Yasemin</h4>
                <img src="~/images/wedding_party/yasemin.jpg" />
            </div>
            <div>
                <h4>Pinar</h4>
                <img src="~/images/wedding_party/pinar.jpg" />
            </div>
            <div>
                <h4>Gülhan</h4>
                <img src="~/images/wedding_party/gulhan.jpg" />
            </div>
            <div>
                <h4>Emma</h4>
                <img src="~/images/wedding_party/emma.jpg" />
            </div>
        </div>
    </div>
</div>
<div id="accomodation">
    <h2>Accomodation</h2>
    <p id="blurb">
        You will need to stay in greece...
    </p>
    <div class="group">
        <div class="location">
            <h4><a href="http://google.com">The Hotel</a></h4>
            <p>Staying in the hotel will be ???</p>
        </div>

    </div>
</div>
<div id="transport">
    <h2>Transport</h2>
    <div class="group">
        <div class="transport-location">
            <h4>By car</h4>
            <p>????</p>
        </div>
        <div class="transport-location">
            <h4>Taxi</h4>
            <p>Somethign something dark side</p>
        </div>
        <div class="transport-location">
            <h4>By Air</h4>
            <p>You will fly into Izmir Airport</p>
        </div>
    </div>
</div>

<div id="hashTag">
    <h2>#ArsenShaunWedding</h2>
    <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
    <ul class="juicer-feed" data-feed-id="arsen-shaun-2018"></ul>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var weddingDate = moment.tz("2018-09-22 15:00", "Europe/London");
            $("#heroBanner #counter").countdown(weddingDate.toDate(), {
                elapse: true
            }).on('update.countdown', function (event) {
                if (event.elapsed) {
                    var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                    $(this).html("Married! " + event.strftime(totalHours + ' hr %M min %S sec ago!'));
                }
                else {
                    $(this).html(event.strftime('%D days %H hr %M min %S sec'));
                }
            }).countdown('start');
        });

        function initMap() {
            var locationReception = { lat: 38.423734, lng: 27.142826 };
            var position = new window.google.maps.LatLng(locationReception.lat, locationReception.lng);

            var locations = [
                {
                    position: position,
                    markerUrl: "@Url.Content("~/images/map_markers/church-min.png")",
                    info: '<h1>The Hotel</h1>Starts at ??.??.<br/><a href="https://www.google.com/maps/dir/Current+Location/Izmir+Adnan+Menderes+Airport" target="_blank">How to get there</a>'
                }
            ];
            var mapOptions = {
                zoom: 16,
                center: position,
                mapTypeId: window.google.maps.MapTypeId.ROADMAP

            };

            var map = new window.google.maps.Map(document.getElementById('googleMap'), mapOptions);

            locations.forEach(location => {
                var marker = new window.google.maps.Marker({
                    position: location.position,
                    icon: {
                        url: location.markerUrl,
                        scaledSize: new window.google.maps.Size(50, 50),
                        anchor: new window.google.maps.Point(25, 25)
                    },
                    map: map
                });
                var infoWindows = new window.google.maps.InfoWindow({
                    content: location.info
                });
                infoWindows.open(map, marker);
                marker.addListener('click', function () {
                    infoWindows.open(map, marker);
                });
            });

            var width = $(window).width();
            $(window).on('resize', function () {
                if ($(this).width() !== width) {
                    width = $(this).width();
                    initMap();
                }
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfhHqLShp8XL0-J4hHQ6wuZB3fdkLeSQ&callback=initMap"></script>

}